<h1 class="title"> Workout Log</h1>  
<table class="divRow" id="allWorkouts"> 

    <% workouts.forEach(function(workout){  %>
        <tr class="divRow"> 
                <td><a href="/workout/allWorkouts/<%=workout.id%>"><button class="divButton"> <%=(workout.date).toDateString() %>
                <%=workout.targetMuscleGroups1 %></td>  
           </button> </a>
            <td ><a href="/workout/allWorkouts/edit/<%=workout.id %>"><button type="submit" class ="editButton">E</button></a></td>
            <td><form method="POST" action="/workout/allWorkouts/delete/<%=workout.id%>?_method=DELETE"> <button type="submit" class ="deleteButton"> X </button>
            </form> </td>
        </tr> 

   <% }) %>
</table>
<br>
<a href="/workout/addWorkout"><button type="submit" class="redButton">Add New Entry</button></a>

