<h1 class="title">EDIT ENTRY</h1> 

<form method="post" action="/workout/allWorkouts/update/<%=workout.id%>?_method=PUT" > 

    <div>
       <label class="form-label" > Date</label> <br>
       <input name="departs" type="string" value="<%=(workout.date).toDateString() %>">
    </div> 

    <div>
        <label class="form-label" > Target Muscle Groups</label> <br>
        <select type="checkbox" name="targetMuscleGroups1" value="<%=workout.targetMuscleGroups1%>">
            <option value="Legs">Legs</option>
            <option value="Chest">Chest</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Back">Back</option>
            <option value="Arms">Arms</option>
            <option value="Core">Core</option>  
            <option value="Cardio">Cardio</option>
            <option value="- - -">- - -</option>
            <option value="Calves">Calves</option>
            <option value="Quads">Quads</option> 
            <option value="Hamstrings">Hamstrings</option>
            <option value="Glutes">Glutes</option>
            <option value="Obliques">Obliques</option>
            <option value="Abs">Abs</option> 
            <option value="Biceps">Biceps</option>
            <option value="Triceps">Triceps</option>
            <option value="Traps">Traps</option>
            <option value="Delts">Delts</option>  
            <option value="Lats">Lats</option>  
            </select>
    </div>

    <div>
        <label class="form-label" > Target Muscle Groups</label> <br>
        <select type="checkbox" name="targetMuscleGroups2" value="<%=workout.targetMuscleGroups2%>"> 
            <option value='  '>    </option>
            <option value="Legs">Legs</option>
            <option value="Chest">Chest</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Back">Back</option>
            <option value="Arms">Arms</option>
            <option value="Core">Core</option>  
            <option value="Cardio">Cardio</option>
            <option value="- - -">- - -</option>
            <option value="Calves">Calves</option>
            <option value="Quads">Quads</option> 
            <option value="Hamstrings">Hamstrings</option>
            <option value="Glutes">Glutes</option>
            <option value="Obliques">Obliques</option>
            <option value="Abs">Abs</option> 
            <option value="Biceps">Biceps</option>
            <option value="Triceps">Triceps</option>
            <option value="Traps">Traps</option>
            <option value="Delts">Delts</option>  
            <option value="Lats">Lats</option>  
            </select>
    </div> 

    <div>
        <label class="form-label" > Target Muscle Groups</label> <br>
        <select type="checkbox" name="targetMuscleGroups3" value="<%=workout.targetMuscleGroups3%>"> 
            <option value='  '>    </option>
            <option value="Legs">Legs</option>
            <option value="Chest">Chest</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Back">Back</option>
            <option value="Arms">Arms</option>
            <option value="Core">Core</option>  
            <option value="Cardio">Cardio</option>
            <option value="- - -">- - -</option>
            <option value="Calves">Calves</option>
            <option value="Quads">Quads</option> 
            <option value="Hamstrings">Hamstrings</option>
            <option value="Glutes">Glutes</option>
            <option value="Obliques">Obliques</option>
            <option value="Abs">Abs</option> 
            <option value="Biceps">Biceps</option>
            <option value="Triceps">Triceps</option>
            <option value="Traps">Traps</option>
            <option value="Delts">Delts</option>  
            <option value="Lats">Lats</option>  
            </select>
    </div>

    <!--OR: 
    have three seperate inputs? where user only selects one?? what's better UX hmmmm.. 
thinkging about thumb use and precision --> 

    <div>
        <label class="form-label" > Length of Workout</label> <br>
        <input name="lengthOfWorkout" type="Number" value="<%=workout.lengthOfWorkout%>"> mins
    </div>

    <div>
        <label class="form-label" > Rating</label> <br>
        <select type="number" name="rating"  value="<%=workout.rating%>">  
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option> 
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option> 
        <option value="10">10</option> 
        </select>
    </div> 

    <div> 
        <label> Comments</label> <br>
        <input name="comments" type="text" value="<%=workout.comments%>">
    </div>   

    <br> 
    
    <a href="/workout/allWorkouts"><button type="back" class="backButton">BACK</button></a>
    <button type="submit" class="redButton">SAVE</button>  
    
</form>

    
</div>