<h1><%=workout.date.toDateString() %></h1> 
<h2><%=workout.targetMuscleGroups1%> <%=workout.targetMuscleGroups2%> <%=workout.targetMuscleGroups3%></h2> 
<h3><%=workout.legnthOfWorkout%> comments <%=workout.rating%></h3> 

<div class="divButton">
    <% workout.exercises.forEach(function(exercise) { %> 
    <div > 
        <div><%= exercise.name%>  <%= exercise.targetMuscleGroups1%> 
            </div>   
        
        <div class="collapsable">
            Sets <%= exercise.sets%> Reps <%=exercise.reps%> Wt<%= exercise.weight %><%=exerces.weightUom%> 
            Equipment<%=exercise.equipmentUsed%> 
            Comments <%=exercise.comments%>
        </div>
   <% }) %>
</div>  

<button type="submit" class="redButton">ADD NEW EXERCISE</button> 

<button type="back">BACK</button>
