<h1 class="title"><%=workout.date.toDateString() %></h1> 
<h2><%=workout.targetMuscleGroups1%> <%=workout.targetMuscleGroups2%> <%=workout.targetMuscleGroups3%></h2> 
<h3><%=workout.legnthOfWorkout%> comments <div id="rating"><%=workout.rating%></div></h3>  


<table>
    <% workout.exercises.forEach(function(exercise) { %> 
    <tr class="divRow">
        <td><%= exercise.name%> (<%= exercise.targetMuscleGroups1%>)
        <td class ="editButton">   E   </td>
        <td class ="deleteButton">   X   </td>
    </tr> 
        
    <tr class="divRow">
        <td><div class="collapsable">
            <span id="heading">Sets</span> <%= exercise.sets%> <span id="heading">Reps</span> <%=exercise.reps%> <span id="heading">Wt</span><%= exercise.weight %> <%=exercise.weightUom%> 
            <span id="heading">Equipment</span> <%=exercise.equipmentUsed%> 
            <span id="heading">Comments</span> <%=exercise.comments%>
        </div> 
        </td>
    </tr>
   <% }) %>
</table>   

<br>

<a href="/workout/allWorkouts"><button type="back" class="backButton">BACK</button></a>
<a href="/day/addExercise?id=<%=workout.id%>"><button type="submit" class="redButton">ADD NEW EXERCISE</button> </a>


