
    <h1 class="title"><%=(workout.date).toDateString() %></h1>
    <h1><%=workout.targetMuscleGroups1%> <%=workout.targetMuscleGroups2%> <%=workout.targetMuscleGroups3%></h1>
    <h2><%=workout.lengthOfWorkout%>mins <a href="/workout/commentsWorkout/<%=workout.id%>"><button id="comments">comments</button></a> <div id="rating"><%=workout.rating%></div> </h2>



<table class="divRow">
    <% workout.exercises.forEach(function(exercise) { %> 
    <tr >
        <td> <%= exercise.name%> (<%= exercise.targetMuscleGroups1%>)
        <td class ="editButton1"><a href="/day/allExercises/edit/<%=workout.id %>/<%=exercise.id%>"><button type="submit">E</button></a></td>
        <td><form method="POST" action="/day/allExercises/delete/<%=workout.id%>/<%=exercise.id%>?_method=DELETE"> <button type="submit" class ="deleteButton1"> X </button>
        </form> </td>
    </tr> 

    <tr class="notcollapsed"><td>
            <span id="heading">Sets</span> <%= exercise.sets%> <span id="heading">Reps</span> <%=exercise.reps%> <span id="heading">Wt</span><%= exercise.weight %> <%=exercise.weightUom%> 
                </td> </tr> </button>
    <tr class="notcollapsed"><td><span id="heading">Equipment</span> <%=exercise.equipmentUsed%> </td> </tr>
    <tr class="notcollapsed"><td> <span id="heading">Comments</span> <%=exercise.comments%> </td> </tr>
   <% }) %>
</table>   

<br>

<a href="/workout/allWorkouts"><button type="back" class="backButton">BACK</button></a>
<a href="/day/addExercise?id=<%=workout.id%>"><button class="redButton">ADD NEW EXERCISE</button> </a>


